/*<style >*/
/* Background */


body {}

/* Form Style */
.container {
    padding-top: 165px;
    padding-bottom: 55px;
}

.row{
    padding-top: 50px;
}

.form-horizontal {
    background: #efffe9;
    padding-bottom: 40px;
    border: 3px solid #28a347;
    border-radius: 15px;
    text-align: center;
}

.form-horizontal .heading {
    display: block;
    font-size: 35px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #28a347;
    margin-bottom: 30px;
    color: #28a347;
}

.form-horizontal .form-group {
    padding: 0 40px;
    margin: 0 0 25px 0;
    position: relative;
}

.form-horizontal .form-control {
    background: #f9e9ff;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
    background: #efffe9;
    box-shadow: none;
    outline: 0 none;
    color: #28a347;
}

.form-horizontal .form-group i{
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #28a347;
    transition: all 0.5s ease 0s;
}

.form-horizontal .form-control:focus + i {
    color: #00b4ef;
}

.form-horizontal .fa-question-circle {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #28a347;
    transition: all 0.5s ease 0s;
}

.form-horizontal .fa-question-circle:hover {
    color: #000;
}

.form-horizontal .main-checkbox {
    float: left;
    width: 20px;
    height: 20px;
    background: #28a347;
    border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #28a347;
}

.form-horizontal .main-checkbox label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.form-horizontal .main-checkbox label:after {
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-horizontal .main-checkbox input[type=checkbox] {
    visibility: hidden;
}

.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.form-horizontal .text {
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}

.form-horizontal .btn {
    float: right;
    font-size: 14px;
    color: #fff;
    background: #28a347;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}


/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    line-height: 2.5rem;
    background-color: #efffe9;
    border-top: 3px solid #28a347;
}

/* header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 165px;
    line-height: 25px;
    background-color: #efffe9;
    border-bottom: 3px solid #28a347;
}

.row-logo {
    display: flex;
    flex: 1;
    height: 16.5rem;
    line-height: 50px;
    color: #28a347;
}

.col-lg-1 {
    min-width: 200px;
    max-width: 200px;
}

.col-lg-2 {
    text-align: center;
    height: 16.5rem;
    flex: 1;
    min-width: 300px;
    overflow: hidden;
}

.col-lg-3 {
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}

.col-lg-3 .btn {
    font-size: 14px;
    color: #fff;
    background: #28a347;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    margin-top: -30px;
}

/*Menu*/
.vertical-menu {
    display: block;
    width: 200px;
    height: auto;
    margin: 0px;
    list-style: none;
    position: absolute;
    left: 0;
    bottom: 55px;
    top: 165px;
    border-right: 3px solid #28a347;
    float: left;
}

.vertical-menu a {
    background-color: #efffe9;
    color: #28a347;
    display: block;
    padding: 20px;
    text-decoration: none;
    border: 8px solid #fff;
        border-radius: 15px
}

.vertical-menu a:hover {
    background-color: #f9e9ff;
    color: #d5272b;
}

.vertical-menu a.active {
    background-color: #28a347;
    color: #efffe9;
}

/*Content*/
.content {
    background-color: #fff;
    height: auto;
    width: auto;
    right: 0;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    left: 200px;
    bottom: 55px;
    top: 165px;
    overflow-y:scroll;
}

/*Form-search*/
.content .btn {
    font-size: 14px;
    height: 30px;
    color: #fff;
    background: #28a347;
    border-radius: 15px;
    padding: 5px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.section-hidding {
    margin: 10px;
    margin-top: 100px;
}

.form{
    width: 100%;
    height: auto;
    display: block;
    margin: 10px;
}
.form-hidding{
        margin-top: 30px;
        border-bottom: 1px solid #28a347;
            border-top: 1px solid #28a347;

}
.form-group-search{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
}
.row{
    margin-top: -20px;
}

 .form-s {
    background-color: #f9e9ff;
    width: 300px;
    border: 1px solid #28a347;   
}

.form b{
        font-size: 17px;
    color: #28a347;
    transition: all 0.5s ease 0s;
}


/*Table*/
.table {
    background-color: #efffe9;
}
.table :active {
    background-color: #efffe9;
    
}

