<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/t.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
<footer class="footer">
    <div>
        <div class="text-center">
                <span>Обращайтесь в <a href="https://www.t-systems.com/ru/en">Техподдержку</a>, <br>
                    <a href="tel:+7812 5555555">+7 812 555-55-55</a> </span>
        </div>
    </div>
</footer>
</body>
</html>